{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Khalida Sakhi</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/#skills">Skills</a>
        <a href="/#projects">Projects</a>
        <a href="/#education">Education</a>
        <a href="/#contact">Contact</a>
    </nav>

    <section class="about-section">

    <div class="about-text">
        <p class="intro">Get to know me</p>

        <h1>About Me</h1>

        <h2>Hi, I'm Khalida Sakhi</h2>

        <p>
            I am a Computer Science student and an aspiring Web Developer.
            I enjoy creating websites and learning new technologies.
        </p>

        <p>
            My goal is to improve my programming and web development skills
            and build useful, modern and user-friendly websites.
        </p>

        <a href="/#contact" class="btn">Contact Me</a>
    </div>

</section>

</body>
</html>